<nav class="navbar navbar-expand-md navbar-light bg-ligth sticky-top mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">O</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">
              Shopping Cart
              <span class="badge badge-pill" *ngIf="cart$ | async as cart">
                {{ cart.totalItemsCount }}
              </span>
            </a>
          </li>
          <ng-template #annonymousUser>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
          </ng-template>
          <li *ngIf="appUser; else annonymousUser" ngbDropdown class="nav-item dropdown">
            <a 
              ngbDropdownToggle
              class="nav-link dropdown-toggle" 
              id="dropdown01"  
              data-toggle="dropdown"
              aria-haspopup="true" 
              aria-expanded="false">
                {{appUser.name}}
              </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a routerLink="/my-orders" class="dropdown-item">My orders</a>
              <ng-container *ngIf="appUser.isAdmin">
                <a routerLink="/admin/orders" class="dropdown-item">Manage orders</a>
                <a routerLink="/admin/products" class="dropdown-item">Manage Products</a>
              </ng-container>
              <a class="dropdown-item" (click)="logout()">Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
