.row{
    display: flex;
}

.product{
    width:300px;
}

.quantity{
    width:230px;
    text-align: center;
}

.price{
    width:200px;
}

.text-right{
    text-align: end;
}

.thumbnail{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}